body{
    margin:0px;
    padding: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/musician-gc26671415_1920.jpg);
    background-repeat: no-repeat;
    Background-attachment:fixed;
    width: 100%;
    height: 110vh;
    background-size: cover;
}
.logo{
    width: 80px;
    margin-left: 10px;
    margin-top: 5px;
}
.nev{
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Crimson Pro', serif;
    
}
.hamburger-img{
    display: none;
}
.nev li{
    display: flex;
    float:right;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.nev li a{
    color:black;
    text-decoration: none;
    padding:5px 10px;

}
.nev .abtnev a:hover{
    border: 1px black solid;
    border-radius: 5px;
}
#login{
    border: 2px white solid;
    border-radius: 50px;
    margin-left: -10px;
    background-color: white;
    padding: 4px 9px;
    color:black;
}
#sign{
    border: 1px black solid;
    border-radius: 50px;
}
#hm{
    border: 1px black solid;
    border-radius: 5px;
}
#sign:hover{
    background-color: white;
    color:black;
}
#login:hover{
    border:2px black solid;
    box-sizing: border-box;
}
.form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 15px;
}
.formdiv{
    margin-bottom: 20px;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.heading-2, .submit-btn{
    text-align: center;
}
@media screen and (max-width:800px){
    .nev{
        transition: all 0.4s ease-out;
        height: 290px;
    }
    .nev-resp{
        display: flex;
        flex-direction: column-reverse;
        /* margin-top:0px;
        margin-bottom: 0px; */
    }
    .nev li{
        display: flex;
        justify-content: center;
        margin: 7px 10px;
    }
    .member{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .logo{
        position: absolute;
        top: 0px;
        left: 10px;
        width: 60px;
    }
    .hamburger-img{
        width: 35px;
        display: block;
    }
    .hamburger{
        display: block;
        background: rgb(255, 255, 255);
        padding:8px;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 10px;
        border-radius: 5px;
    }
    .nevbar-resp{
        height: 70px;
    }
    .visibality{
        display: none;
    }
}
@media screen and (max-width:630px){
    .form{
        width: 90%;
    }
}